<h5 class="m-3 ms-4">{{data}}</h5>
<div class="login">
    <h3 style="margin-bottom:40px; font-size: 40px;color:rgba(46, 51, 59, 0.721);font-weight: 600;" >Login</h3>
    <form action="">
       <span><i class="fa fa-user"></i> <input type="text" (change)="acnoChange($event)" id="a1" name="acnum1" [placeholder]="inputplaceholder"></span><br>
        <span><i class="fa fa-lock"></i><input type="password" (change)="pswrdChange($event)" id="p1" name="paswrd1" placeholder="password"></span><br>
        <button type="button" (click)="login()">Login</button>
    </form>
</div>
