
<div class="text-black text-center  ">
<h2 style="font-size: 12px;">{{datedetails| date: 'short'}}</h2>
</div>
    <div class="text-end">
    <button class="btn btn-danger text-light mt-2 me-2 " (click)="deleteParent()">Delete account</button>
    <button (click)="logout()" class="btn btn-dark text-light mt-2 me-2 ">Logout</button>

</div>  
<div>
    <h3 class="text-center  ">Welcome {{user}}</h3>
</div>

<div [ngClass]="acno?'style':'' " class="p-2 w-25 mt-3 container text-center  border border-light rounded-pill " style=" background-color:rgba(255,255,255,0.4) ;">
    <a style=" text-decoration: none;color: black;" routerLink="/transaction">View Transaction History</a>
</div>
<app-deleteconfirm (onDelete)="Delete($event)" (oncancel)="cancel()" [item]="acno"></app-deleteconfirm>

<div [ngClass]="acno?'style':'' " class="row m-2">
    <div class="col-lg-5 col-md-12 text-center mt-3 p-3  rounded me-5 ms-5 " style="background-color: rgba(255,255,255,0.4);">
        <h4 class="m-4">Deposit</h4>
        <div class="">
            <form action="" [formGroup]="depositForm">
                <input type="text" formControlName="acno1" id="a1" name="acnum1" placeholder="account number" class="form-control m-2 w-75 ms-5">
                <input type="password" formControlName="psw1" id="p1" name="psw1" placeholder="password" class="form-control m-2 w-75 ms-5" >
                <input type="text" formControlName="amnt1" id="d1" name="amt1" placeholder="amount" class="form-control m-2 w-75 ms-5" >
                <button type="submit" (click)="deposit()" class="btn btn-info ">Deposit</button>
    
            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 text-center mt-3 p-3  rounded ms-5 " style="background-color: rgba(255,255,255,0.4);">
        <h4 class="m-4">Withdraw</h4>
        <div class="">
            <form action=""[formGroup]="withdrawForm">
                <input type="text" formControlName="acno2" id="a2" name="acnum2" placeholder="account number" class="form-control m-2 w-75 ms-5">
                <input type="password" formControlName="psw2" id="p2" name="psw2" placeholder="password" class="form-control m-2 w-75 ms-5" >
                <input type="text" formControlName="amnt2" id="d2" name="amt2" placeholder="amount" class="form-control m-2 w-75 ms-5" >
                <button type="submit" (click)="withdraw()" class="btn btn-info">Withdraw</button>
    
            </form>
        </div>
    </div>
    

</div>