/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/Digital-only-banking-incumbents-copy-challengers.jpg");
    background-size: cover;
}

.style{
    opacity: 0; 
    /* to make invisible */
    
}