/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://i.postimg.cc/D0Y2vnmz/Digital-only-banking-incumbents-copy-challengers.jpg");
    background-size: cover;
}      /*background image hosted into postimages.org and copied direct link*/

.style{
    opacity: 0; 
    /* to make invisible */
    
}