<div class="reg">
    <h3 style="margin-bottom:40px; font-size: 40px;color:rgba(46, 51, 59, 0.721);font-weight: 600;" >Sign Up</h3>
    <form action="" (ngSubmit)="register()">
        <input type="text" id="u2" [(ngModel)]="uname" name="usernum1" placeholder="Username">
        <input type="text" id="a2" name="acnum1" [(ngModel)]="acno"  placeholder="account no"><br>
        <input type="password"   id="p2" name="pswrd1" [(ngModel)]="psw" placeholder="password"><br>
        <button type="submit"  >Sign Up</button>
    </form>
</div>
